<%- include("partials/header.ejs") %>

<div class="hero">
    <img src="/img/home-hero-placeholder.webp" class="hero__background-image">
    <div class="hero__overlay"></div>

    <div class="hero__inner">
        <h1 class="hero__title">Jagten på den Perfekte Kajkage</h1>
        <p class="hero__text">Den her blog er opstået på baggrund af min store kærlighed til en stærkt undervurderet kage.</p>
    </div>
</div>

<main class="content">
    <div class="content__inner">
        <section class="section">
            <h2>Alle indlæg</h2>

            <% if (locals.posts) { %>
                <ul class="post-grid">
                <% for (let i = 0; i < posts.length; i++) { %>
                    <li class="post-grid__post">
                        <a href="./indlaeg/<%= posts[i].pageslug %>" class="post-grid__post-link">
                            <p class="post-grid__post-date"><%= posts[i].postdate %></p>
                            <h3 class="post-grid__post-title"><%= posts[i].posttitle %></h3>
                            <p class="post-grid__post-location"><%= posts[i].bakery %>, <%= posts[i].city %></p>
                            <p class="post-grid__post-tier"><%= posts[i].tier %>-tier</p>
                        </a>
                    </li>
                <% } %>
                </ul>
            <% } else { %>
                <p>Der er desværre ingen indlæg at vise. Men det skal der nok komme!</p>
            <% } %>
        </section>
    </div>
</main>

<% if (locals.loggedIn) { %>
    <%- include("partials/admin-bar.ejs") %>
<% } %>

<%- include("partials/footer.ejs") %>