<%- include("partials/header.ejs") %>

<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Jagten på den Perfekte Kajkage</h1>
        <p class="hero__text">Den her blog er opstået på baggrund af min store kærlighed til en stærkt undervurderet kage.</p>
    </div>
</div>

<main class="content">
    <div class="content__inner">
        <section class="section">
            <h2>Alle indlæg</h2>

            <% if (locals.posts) {
                for (let i = 0; i < posts.length; i++) { %>
                    <ul class="post-grid">
                        <li class="post-grid__post">
                            <a href="./indlaeg/<%= posts[i].pageslug %>" class="post-grid__post-link">
                                <h3 class="post-grid__post-title"><%= posts[i].posttitle %></h3>
                                <p class="post-grid__post-date"><%= posts[i].postdate %></p>
                            </a>
                        </li>
                    </ul>
                <% }
            } else { %>
                <p>Der er desværre ingen indlæg at vise. Men det skal der nok komme!</p>
            <% } %>
        </section>
    </div>
</main>

<% if (locals.loggedIn) { %>
    <%- include("partials/admin-bar.ejs") %>
<% } %>

<%- include("partials/footer.ejs") %>