<%- include("../partials/header.ejs") %>

<main class="main">
    <section class="section">
        <div class="post-meta">
            <p class="post-meta__date"><%= postdate %></p>
            <p class="post-meta__location"><%= `${bakery}, ${city}` %></p>
        </div>
        
        <h1><%= posttitle %></h1>
    </section>

    <section class="section">
        <% if (locals.postcontent) { %>
            <%- postcontent %>
        <% } %>
    </section>
</main>

<form action="/edit-post">
    <input type="text" name="editslug" hidden value="<%= pageslug %>">
    <button type="submit">Redigér</button>
</form>

<%- include("../partials/footer.ejs") %>