<%- include("../partials/header.ejs") %>

<div class="hero">
    <% if (locals.postimage) { %>
        <img src="<%= postimage %>" class="hero__background-image">
        <div class="hero__overlay"></div>
    <% } %>

    <div class="hero__inner">
        <div class="hero__columns">
            <div class="hero__column">
                <p class="post__date"><%= postdate %></p>
                <h1 class="hero__title"><%= posttitle %></h1>
                <p class="post__location"><%= `${bakery}, ${city}` %></p>
            </div>
            
            <div class="hero__column">
                <p class="post__tier"><strong><%= tier %></strong>-tier</p>
            </div>
        </div>
    </div>
</div>

<main class="content">
    <div class="content__inner">
        <section class="section">
            <% if (locals.postcontent) { %>
                <%- postcontent %>
            <% } %>
        </section>
    </div>
</main>

<% if (locals.loggedIn) { %>
    <%- include("../partials/admin-bar.ejs") %>
<% } %>

<%- include("../partials/footer.ejs") %>